.product-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px;
  margin: 20px;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
  align-items: center;
}

.card-name {
  font-size: x-large;
  font-weight: bold;
  padding: 10px 0;
}

.card-price {
  font-size: larger;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--color-secondary-dark);
}

.card img {
  width: 400px;
  height: 600px;
  object-fit: fill;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.card p {
  font-style: italic;
  margin: 10px 6px;
}

.btn-add-product {
  border: 2px solid transparent;
  outline: 0;
  padding: 10px;
  align-self: center;
  color: var(--color-lightest);
  background-color: var(--color-secondary);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  font-size: 15px;
  border-radius: 10px;
  margin-top: auto;
  transition: all 0.5s;
}

.btn-add-product:hover {
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  background-color: var(--color-lighter);
  color: var(--color-secondary);
}

/* Product Detail */

.modal-prod-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-transparent-o6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-prod-detail {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.modal-content-prod-detail img {
  max-width: 200px;
}

.modal-desc-prod-detail {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  align-items: start;
}

.modal-desc-prod-detail .modal-name {
  font-size: x-large;
  font-weight: bold;
  padding: 10px 0;
}

.modal-desc-prod-detail .modal-desc {
  font-size: large;
  font-style: italic;
  padding: 10px 0;
}
.modal-desc-prod-detail .modal-price {
  font-size: larger;
  font-weight: bold;
  color: var(--color-secondary);
}
.modal-desc-prod-detail .modal-measures {
  font-size: medium;
  font-style: italic;
  padding: 5px 0;
}
.modal-desc-prod-detail .modal-art {
  font-size: medium;
  font-style: italic;
  padding: 5px 0;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.5s;
}

.close-btn:hover{
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
  .modal-content-prod-detail img {
    width: 100%;
  }
}
