/* .cart-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.cart-main {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cart-content {
  margin: 25px 5px;
}

.cart-title {
  font-size: xx-large;
  font-weight: bold;
  margin: 40px;
}

.cart-card-container {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-light);
  flex-wrap: wrap;
  margin: 30px;
  align-items: center;
  text-align: center;
}

.cart-card-container > img {
  width: 200px;
  height: 300px;
  object-fit: fill;
  border-radius: 10px;
}

.cart-card-detail {
  display: flex;
  flex-direction: column;
}

.cart-total {
  text-align: center;
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-total span {
  font-size: large;
  font-weight: bold;
}

.btn-cart-confirm {
  border: none;
  outline: 0;
  color: var(--color-lighter);
  padding: 10px 20px;
  background-color: var(--color-green-dark);
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.5s;
}

.btn-cart-confirm:hover {
  background-color: var(--color-green-darker);
}

.btn-cart-clear {
  border: none;
  outline: 0;
  color: var(--color-lighter);
  padding: 10px 20px;
  background-color: var(--color-red);
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.5s;
}
.btn-cart-clear:hover {
  background-color: var(--color-red-dark);
}

.cart-btn-delete {
  cursor: pointer;
}

.cart-itemcounter {
  display: flex;
  flex-direction: column;
}

.cart-itemcounter-title {
  font-size: large;
  font-weight: bold;
}

.cart-addremove {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cart-addremove .btn {
  cursor: pointer;
}

.cart-addremove .quanty {
  font-size: large;
  font-weight: bold;
}

.cart-items-total {
  background-color: var(--color-red);
  color: var(--color-lighter);
  border-radius: 50%;
  font-size: 12px;
  padding: 1px 4px;
  position: absolute;
}



.cart-message-empty {
  font-size: 1.5rem;
  color: var(--color-gray);
  text-align: center;
}

.cart-message-products {
  font-size: 1.5rem;
  color: var(--color-primary);
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}
.cart-message-products:hover{
  color: var(--color-secondary);
} */