.misc-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-dark);
  position: relative;
}

.misc-title::before {
  content: "";
  display: block;
  width: 360px;
  height: 3px;
  background: var(--color-primary-lighter);
  margin: 16px auto 10px ;
  border-radius: 2px;
}

.misc-title::after {
  content: "";
  display: block;
  width: 360px;
  height: 3px;
  background: var(--color-primary-lighter);
  margin: 12px auto 12px;
  border-radius: 2px;
}

