@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@tailwind utilities;

* {
  font-family: "PT Serif", serif;
}
body {
  margin: 0;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: '.epunda-sans-google', sans-serif; */
}

.epunda-sans-google {
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

@theme {
  --color-primary: #d185d1;
  --color-primary-dark: #9e579e;
  --color-primary-lighter: #cfb8cd;
  --color-secondary: #8b488b;
  --color-secondary-dark: #632c63;
  --color-green: #4caf50;
  --color-green-dark: #29692b;
  --color-green-darker: #134115;
  --color-red: #b92222;
  --color-red-dark: #9e0a0a;
  --color-yellow: #c4b10e;
  --color-yellow-dark: #887b0a;
  --color-blue: #224fa3;
  --color-blue-dark: #103272;

  --color-darkest: #111;
  --color-darker: #222;
  --color-dark: #333;
  --color-gray-dark: #444;
  --color-gray: #555;
  --color-gray-light: #aaa;
  --color-gray-lighter: #bbb;
  --color-gray-lightest: #ccc;

  --color-light: #ddd;
  --color-lighter: #eee;
  --color-lightest: #fff;
  --color-transparent-o4: #0000004d;
  --color-transparent-o6: #0000004d;
  --font-roboto: "Roboto", sans-serif;
  --font-ptserif: "PT Serif", serif;
}

:root {
  --color-primary: #d185d1;
  --color-primary-lighter: #cfb8cd;
  --color-secondary: #8b488b;
  --color-secondary-dark: #632c63;
  --color-green: #4caf50;
  --color-green-dark: #29692b;
  --color-green-darker: #134115;
  --color-red: #b92222;
  --color-red-dark: #9e0a0a;
  --color-red-darker: #5c0505;
  --color-yellow: #9c8a00;
  --color-yellow-dark: #665a00;

  --color-darkest: #111;
  --color-darker: #222;
  --color-dark: #333;
  --color-gray-dark: #444;
  --color-gray: #555;
  --color-gray-light: #aaa;
  --color-light: #ddd;
  --color-lighter: #eee;
  --color-lightest: #fff;
  --color-transparent-o4: #0000004d;
  --color-transparent-o6: #0000004d;

  --font-roboto: "Roboto", sans-serif;
  --font-ptserif: "PT Serif", serif;
}

/*** BUTTONS ***/
.btn-primary-sm {
  @apply bg-(--color-primary) text-(--color-lightest) py-2 text-base text-center font-bold border-0 rounded-xl cursor-pointer transition-all duration-500 hover:bg-(--color-primary-dark);
}

.btn-secondary {
  @apply bg-(--color-secondary) text-(--color-lightest) py-3.5 px-5 text-center text-base font-bold border-0 rounded-xl cursor-pointer transition-all duration-500 hover:bg-(--color-secondary-dark);
}

.btn-secondary-2 {
  @apply border-2 border-solid border-transparent outline-0 p-2.5 self-center text-(--color-lightest) bg-(--color-secondary) text-center font-bold cursor-pointer w-full max-w-xs text-base rounded-xl mt-auto transition-all duration-500 hover:border-2 hover:border-solid hover:border-(--color-secondary) hover:rounded-xl hover:bg-(--color-lighter) hover:text-(--color-secondary);
}

.btn-secondary-2-sm {
  @apply border-2 border-solid border-transparent outline-0 py-1.5 text-(--color-lightest) bg-(--color-secondary) text-center font-bold cursor-pointer text-base rounded-xl transition-all duration-500 hover:border-2 hover:border-solid hover:border-(--color-secondary) hover:rounded-xl hover:bg-(--color-lighter) hover:text-(--color-secondary);
}

.btn-green {
  @apply bg-(--color-green-dark) text-(--color-lightest) text-center py-3.5 px-5 text-base font-bold border-0 rounded-xl cursor-pointer transition-all duration-500 hover:bg-(--color-green-darker);
}
.btn-green-icon {
  @apply bg-(--color-green-dark) p-2 border-0 rounded-2xl text-center cursor-pointer transition-all duration-500 hover:bg-(--color-green-darker);
}
.btn-green-xl {
  @apply bg-(--color-green-dark) text-(--color-lightest) w-full max-w-xs text-center py-3.5 px-5 text-base font-bold border-0 rounded-xl cursor-pointer transition-all duration-300 hover:bg-(--color-green-darker);
}
.btn-red {
  @apply bg-(--color-red-dark) text-(--color-lightest) text-center py-3.5 px-5 text-base font-bold border-0 rounded-xl cursor-pointer transition-all duration-500 hover:bg-(--color-red-darker);
}
.btn-red-icon {
  @apply bg-(--color-red-dark) p-2 border-0 rounded-2xl text-center cursor-pointer transition-all duration-500 hover:bg-(--color-red-darker);
}
.btn-red-xl {
  @apply bg-(--color-red-dark) text-(--color-lightest) w-full max-w-xs text-center py-3.5 px-5 text-base font-bold border-0 rounded-xl cursor-pointer transition-all duration-300 hover:bg-(--color-red-darker);
}
.btn-yellow {
  @apply bg-(--color-yellow) text-(--color-lightest) text-center py-3.5 px-5 text-base font-bold border-0 rounded-xl cursor-pointer transition-all duration-500 hover:bg-(--color-yellow-dark);
}
.btn-yellow-icon {
  @apply bg-(--color-yellow) px-2 border-0 rounded-2xl text-center cursor-pointer transition-all duration-500 hover:bg-(--color-yellow-dark);
}
.btn-blue {
  @apply bg-(--color-blue) text-(--color-lightest) text-center py-3.5 px-5 text-base font-bold border-0 rounded-xl cursor-pointer transition-all duration-500 hover:bg-(--color-blue-dark);
}
.btn-blue-icon {
  @apply bg-(--color-blue) px-2 border-0 rounded-2xl text-center cursor-pointer transition-all duration-500 hover:bg-(--color-blue-dark);
}
.btn-disabled-xl {
  @apply bg-(--color-gray) text-(--color-lightest) w-full max-w-xs text-center py-3.5 px-5 text-base font-bold border-0 rounded-xl cursor-pointer transition-all duration-100;
}
/** ********* **/


/** TEXT / INPUTS **/
.txt-dark-lg {
  @apply text-center text-4xl font-black my-12 text-(--color-dark)
}
.txt-primary-xl {
  @apply text-5xl font-bold pb-10 text-(--color-secondary)
}
.txt-darkgreen-sm {
  @apply text-xl font-bold pb-10 text-(--color-green-dark)
}
.txt-red-base {
  @apply text-(--color-red) text-base
}
.input-light {
  @apply text-base p-3 inline-block border-2 border-solid border-(--color-light) rounded-xl box-border text-start bg-(--color-lightest);
}



/** SELECT **/
.select-light {
  @apply border border-(--color-gray-light) rounded-lg text-center w-40
}
.select-light-sm {
  @apply border border-(--color-gray-light) rounded-lg text-center w-30
}

/** IMAGES **/
.image-sm {
  @apply h-60 object-contain border-1 border-(--color-lighter) rounded-2xl
}
.image-sm-1 {
  @apply h-60 object-contain border-1 border-(--color-gray-lightest) rounded-2xl
}

.image-md-1 {
  @apply h-80 object-contain border-1 border-(--color-gray-lightest) rounded-2xl
}