@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@tailwind utilities;


*{
  font-family: 'PT Serif', serif;
}
body {
  margin: 0;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: '.epunda-sans-google', sans-serif; */
}

.epunda-sans-google {
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

@theme{
  --color-primary: #d185d1;
  --color-primary-lighter: #cfb8cd;
  --color-secondary: #8b488b;
  --color-secondary-dark: #632c63;
  --color-green: #4caf50;
  --color-green-dark: #29692b;
  --color-green-darker: #134115;
  --color-red: #b92222;
  --color-red-dark: #9e0a0a;
  --color-yellow: #c4b10e;
  --color-yellow-dark: #887b0a;

  --color-darkest: #111;
  --color-darker: #222;
  --color-dark: #333;
  --color-gray-dark: #444;
  --color-gray: #555;
  --color-gray-light: #aaa;
  --color-light: #ddd;
  --color-lighter: #eee;
  --color-lightest: #fff;
  --color-transparent-o4: #0000004d;
  --color-transparent-o6: #0000004d;
  --font-roboto: "Roboto", sans-serif; 
  --font-ptserif: "PT Serif", serif;
}


:root {
    --color-primary: #d185d1;
  --color-primary-lighter: #cfb8cd;
  --color-secondary: #8b488b;
  --color-secondary-dark: #632c63;
  --color-green: #4caf50;
  --color-green-dark: #29692b;
  --color-green-darker: #134115;
  --color-red: #b92222;
  --color-red-dark: #9e0a0a;
  --color-red-darker: #5c0505;
  --color-yellow: #9c8a00;
  --color-yellow-dark: #665a00;

  --color-darkest: #111;
  --color-darker: #222;
  --color-dark: #333;
  --color-gray-dark: #444;
  --color-gray: #555;
  --color-gray-light: #aaa;
  --color-light: #ddd;
  --color-lighter: #eee;
  --color-lightest: #fff;
  --color-transparent-o4: #0000004d;
  --color-transparent-o6: #0000004d;

  --font-roboto: "Roboto", sans-serif; 
  --font-ptserif: "PT Serif", serif;
}