/*
BANNER AUTOMATICO
.banner {
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 1s ease-in-out;
}

.banner-container {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.banner-container h1 {
  font-size: 3rem;
  margin: 0;
}

.banner-container p {
  font-size: 1.2rem;
  margin-top: 10px;
}
*/


.banner-swiper {
  height: 60vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner-slide {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

